DB_URL=postgres://postgres:go-gallery@localhost:5432/gallery?sslmode=disable

S3_ENDPOINT=http://localhost:9000
S3_ACCESS_KEY=admin
S3_SECRET_KEY=xGGXvbprQad++HqXR3pGYhPddsF+pOr0wQep06TghnU=

JWT_SECRET=change-me-in-production

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=seu@email.com
SMTP_PASS=sua-senha-app
SMTP_FROM=noreply@go-gallery.com

APP_URL=http://localhost:5173
